{% extends "base.html" %} {% block title %}Avail Loan Page{% endblock %}
{% block content %}
<style>
    body {
        background: #AED6F1;
    }
    .loan-heading {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }

    .loan {
        font-family: "Times New Roman", Times, serif;
        font-size: large;
    }

    .loan-options {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }

    .table {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }
</style>
<br>
<div class="loan-heading">
    <h2><strong>Avail a Loan</strong></h2>
</div>
<div class="loan">
    <br>
    <form method="POST">
        <div>
            <label name="loan_index" id="loan_index" class="form-class">Loan Plan Index Number</label>     
            <input name="loan_index" placeholder="Enter Loan Plan Index Number" id="loan_index" class="form-class" style="width: 100%" type="number">  
        </div>
        <br>
        <div>
            <label name="amount" id="amount" class="form-class">Amount</label>     
            <input name="amount" placeholder="Enter Amount" id="amount" class="form-class" style="width: 100%" type="number">  
        </div>
        <br>
        <div>
            <label name="note" id="note" class="form-class">Remarks regarding Loan</label>     
            <input name="note" placeholder="Enter Remarks" id="note" style="width: 100%" class="form-class" type="text">   
        </div>
        <br>
        <div>
            <label name="password" id="password" class="form-class">Password</label>     
            <input name="password" placeholder="Enter Password for Confirmation" id="password" class="form-class" style="width: 100%" type="password">  
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary"><strong>Confirm Loan</strong></button>
        </div>
    </form>
</div>
<div class="loan-options">
    <h2><b>Loan Options</b></h2>
</div>
<br>
<table class="table table-dark">
<thead>
    <tr>
        <th scope="col">Loan Index Number</th>
        <th scope="col">Loan Type</th>
        <th scope="col">Loan Amount</th>
        <th scope="col">Tenure</th>
        <th scope="col">Interest Rate</th>
        <th scope="col">Minimum Account Balance</th>
    </tr>
</thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
            <td>Loan Plan 1</td>
            <td>Upto 800$</td>
            <td>1 Days</td>
            <td>2%</td>
            <td>1000$</td>
        </tr>
        <tr>
        <th scope="row">2</th>
            <td>Loan Plan 2</td>
            <td>Upto 1000$</td>
            <td>2 Days</td>
            <td>2.5%</td>
            <td>3500$</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Loan Plan 3</td>
            <td>Upto 5000$</td>
            <td>7 Days</td>
            <td>3%</td>
            <td>8000$</td>
        </tr>  
    </tbody>
</table>

{% endblock %}
