{% extends "base.html" %} {% block title %}Transaction Page{% endblock %}
{% block content %}
<style>
    body {
        background: #AED6F1;
    }
    
    .transaction-heading {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }

    .transaction {
        font-family: "Times New Roman", Times, serif;
        font-size: large;
    }

    .previous-transactions {
        font-family: "Times New Roman", Times, serif;
        text-align: center;
    }

</style>
<br>
<div class="transaction-heading">
    <h2><strong>Make a Transaction</strong></h2>
</div>
<div class="transaction">
    <br>
    <form method="POST">
        <div>
            <label name="recipient_id" id="recipient_id" class="form-class">Recipient User ID</label>     
            <input name="recipient_id" placeholder="Enter Recipient User ID" id="recipient_id" class="form-class" style="width: 100%" type="number">  
        </div>
        <br>
        <div>
            <label name="amount" id="amount" class="form-class">Amount to be Transferred</label>     
            <input name="amount" placeholder="Enter Amount to be Transferred" id="amount" class="form-class" style="width: 100%" type="text">  
        </div>
        <br>
        <div>
            <label name="note" id="note" class="form-class">Remarks regarding Transaction</label>     
            <input name="note" placeholder="Enter Remarks" id="note" style="width: 100%" class="form-class" type="text">   
        </div>
        <br>
        <div>
            <label name="password" id="password" class="form-class">Password</label>     
            <input name="password" placeholder="Enter Password for Confirmation" id="password" class="form-class" style="width: 100%" type="password">  
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary"><strong>Confirm Transaction</strong></button>
        </div>
    </form>
</div>
<br><br>
<div class="transaction-heading">
    <h2><strong>Previous Transactions</strong></h2>
</div>
<br>
<div class="previous-transactions">
    <div class="table table-dark">
        <table>
            <thead>
                <tr> 
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Recipient ID</th>
                    <th scope="col">Amount Transferred</th>
                    <th scope="col">Time of Transaction</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Donor ID</th>
                </tr>
            </thead>
            <tbody>
                    {% for transaction in user.transactions %}
                    <tr>
                        <td>{{transaction.id}}</td>
                        <td>{{transaction.recipient_id}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.time}}</td>
                        <td>{{transaction.note}}</td>
                        <td>{{transaction.user_id}}</td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
